.BusinessTech {
    height: fit-content;
    color: --primary;
}

.containerBtech{
    background-image: url('@/assets/newsectiontest.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
/*     background: linear-gradient(90deg, #00000000, rgb(41, 86, 75), rgb(216, 255, 162)); */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-direction: column;
}

.inner-Btech.one{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-Btech.two{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-Btech.two h1{
   color: white;
   width: 80%;
   font-size: 2.5rem;
   line-height: 50px;
   font-weight: bold;
   text-align: left;
   padding: 20px;
}

@media(min-width: 1024px){
    .BusinessTech{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .containerBtech{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 70%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        overflow: hidden;
    }

    .inner-Btech.two{
        width: 100%;
        padding: 0;
        height: 50vh;
        background-color: rgb(2, 9, 31);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        color: #fdfdfd;
        backdrop-filter: blur(5px);
        display: flex;
     }

     .inner-Btech.two div{
        width: 70%;
        text-align: left;
    }

     .inner-Btech.two div h2{
        font-size: 3rem;
        line-height: 50px;
        transform: unset;
        margin-bottom: 10px;
     }
     
     .inner-Btech.two div p{
        border: solid 1px #bce89e;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        line-height: 25px;
        color: rgb(210, 210, 210);
        font-weight: 100;
     }

    .inner-Btech.one{
        background-clip:unset;
        overflow: hidden;
     }

     #btechguy{
        top: -160;
        width: 900px;
        position: absolute;
     }
}