.ThreeDsection {
    height: fit-content;
    color: #333;
}

.container3d{
    background-image: url('@/assets/3DMobile.png');
    background-size: contain;
    background-position: center-top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.inner-content3d.one{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-content3d.two{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #000, #2424248d);
    backdrop-filter: blur(9px);
    padding-left: 50px;
}

.inner-content3d.two h1{
   color: white;
   width: 80%;
   font-size: 2.5rem;
   line-height: 50px;
   font-weight: bold;
   text-align: left;
   padding: 20px;
}

@media(min-width: 1024px){
    .container3d{
        background-image: url('@/assets/3dsection.png');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
    }

    .inner-content3d.two{
        height: 50vh;
     }
}