.BusinessTech {
    height: fit-content;
    color: --primary;
}

.containerBtech{
    background: linear-gradient(90deg, #00000000, rgb(41, 86, 75), rgb(216, 255, 162));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    
}

.inner-Btech.one{

    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-Btech.two{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

.inner-Btech.two h1{
   color: white;
   width: 80%;
   font-size: 2.5rem;
   line-height: 50px;
   font-weight: bold;
   text-align: left;
   padding: 20px;
}

@media(min-width: 1024px){
    .BusinessTech{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .containerBtech{
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 60%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        overflow: hidden;
    }

    .inner-Btech.two{
        height: 50vh;
        color: --primary;
        font-size: 3rem;
        font-family: unbounded;
     }

     
    .inner-Btech.one{
        background-clip:unset;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        overflow: hidden;
     }

     #btechguy{
        top: -160;
        width: 900px;
        position: absolute;
     }
}